{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Please Login below to enjoy our service</h1>
    <p class="important">
      Welcome to Extralugage.
    </p>
    <form action="/register" class="modal-content animate" method="POST">
        <input type="text" placeholder="enter email" name="email" required>
        <input type="password" placeholder="enter password" name="password" required>
        <input type="password" placeholder="re-enter password" name="rpsw" required>
        <button type="submit">Register</button>
    </form>
{% endblock %}